<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.mangocrisp.spring.taybct.module.lf.mapper.ReleaseMapper">

    <resultMap id="BaseResultMap" type="io.github.mangocrisp.spring.taybct.module.lf.domain.Release">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="createUser" column="create_user" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="SMALLINT"/>
        <result property="designId" column="design_id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="SMALLINT"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="data" column="data" jdbcType="OTHER"/>
        <result property="version" column="version" jdbcType="BIGINT"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,create_user,create_time,
        update_user,update_time,is_deleted,
        design_id,name,status,
        description,data,version,
        type
    </sql>

    <insert id="publish">
        insert into lf_release
        (
        <include refid="Base_Column_List"/>
        )
        <foreach collection="dto" separator="union all" item="release">
            select
            #{release.id}
            , #{release.createUser}
            , #{release.createTime}
            , #{release.updateUser}
            , #{release.updateTime}
            , #{release.isDeleted}
            , #{release.designId}
            , #{release.name}
            , #{release.status}
            , #{release.description}
            , data
            , #{release.version}
            , type
            from lf_design where id = #{release.designId}
        </foreach>
    </insert>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lf_release
        where id = #{id,jdbcType=BIGINT}
        <if test="_login_user_ != null">
            and exists(select 1 from lf_release_permissions lrp where lrp.release_id = lf_release.id
            and (
            <choose>
                <when test="_databaseId == 'postgresql'">
                    user_id = CAST(#{_login_user_.uid} AS BIGINT)
                </when>
                <otherwise>
                    user_id = #{_login_user_.uid}
                </otherwise>
            </choose>
            or user_id is null))
        </if>
    </select>

</mapper>
